{% if messages %}
<div class="alert alert-success" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>    
</div>
{% endif %}

<h1>メモ詳細ページ</h1>

<p><a href="{% url 'list' %}">＜メモ一覧に戻る</a></p>

    <p>{{ object.memo|linebreaksbr }}</p>

<p><a href="{% url 'create' %}">新規</a></p>
<p><a href="{% url 'edit' pk=object.pk %}">編集</a></p>
<form method="post" action="{% url 'delete' pk=object.pk %}">{% csrf_token %}
    <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
</form>
<p><a href="{% url 'signout' %}">ログアウト</a></p>
<p>メモの中身</p>